
body {font-family: roboto, sans-serif;}

/*HEADER*/
.logo-img {width: 100%;}
/*     NAVBAR    */


body.dark{
background-color: #242620;
}

.nav-links li{
  display: flex;
  justify-content: center;
}
img {
  width: 100%;
  height: auto;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 67px;
  width: 100%;
  z-index: 100;
  background-color: #1A1919;
}
.navigation{
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.siderbarClose{
  color: white;
  font-size: 24px;
  margin-top: -5px;
  margin-right: 10px;
  cursor: pointer;

}
.nav-links{
  display: flex;
  margin-right: 45px;
  
}
nav li{
  list-style: none;
  margin: 0 20px;
}
.nav-links li a{
  position: relative;
    font-size: 17px;
    font-weight: 500;  
    text-decoration: none;
    font-family: Lato;
    color: white;
    margin-left: 10px;

}
.nav-links li a::after{
  content: '';
  display: block;
  width: 100%;
  background-color: #ccc;
  height: 1px;
  transform: scale(0);
  transition: all .3s;
}
.nav-links li:hover a::after{
  transform: scale(1);
}
.navigation .darkLight-searchBox{
  display: flex;
  align-items: center;

}
.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
    justify-content:center;
    margin: 0 5px;
}
.dark-light i, .searchToggle i{
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  color: white;
  transition: all 0.3s ease;
}
.dark-light i.sun{
  opacity: 0;
  pointer-events: none;
}
.dark-light.active i.sun{
  opacity: 1;
  pointer-events: auto;

}
.dark-light.active i.moon{
  opacity: 0;
  pointer-events: none;
}
.searchToggle i.cancel{
  opacity: 0;
  pointer-events: none;
}
.searchToggle.active i.cancel{
  opacity: 1;
  pointer-events: auto;
}
.searchToggle.active i.search{
  opacity: 0;
  pointer-events: none;
}

.logo{
  width: 55px;
  height: 55px;
  margin-top: 5px;
}
.menu .logo-toggle{
  display: none;
}
  
.searchBox{
  position: relative;
}
nav .navigation .sidebarOpen{
  color: white;
  font-size: 24px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

.search-field{
  position: absolute;
  bottom: -85px;  
  right: 5px;
  height: 45px;
  width: 280px;
  background-color: #242620; 
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.searchToggle.active ~ .search-field{
  bottom: -70px;
  opacity: 1;
  pointer-events: auto;
}
.search-field::before{
  content: '';
  position: absolute;
  right: 14px;
  top: -4px;
  height: 15px;
  width: 15px;
  transform: rotate(-45deg);
  background-color: #242620;
  z-index: -1  ;
}
.search-field input{
  height: 100%;  
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;  
  color: #242620;
  font-size: 14px;
  font-weight: 400;
}
.search-field i{
  position: absolute;
  color: #242620;
  right: 15px;  
  font-size: 22px;
  cursor: pointer;
}
body.dark .search-field input{
  background-color: black;
  color: white;
}
@media (max-width: 790px){
  nav .navigation .sidebarOpen{
  display: block;
}
  
.menu{
  position:fixed;
  height: 100%;
  width: 265px;
  left: -100%;
  top: 0;
  background-color: #1A1919;
  transition: all 0.4s ease;
  z-index: 100;

}
nav.active .menu{
  left:0;
}
nav.active .logo{
  display: none;
  transition: all 0.3s ease;
}

nav .menu .logo-toggle{  
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-t{
  margin-top: 10px;
  margin-left: 10px;
  width: 60px;
  height: 60px;
}
.navigation .nav-links{
  flex-direction: column;
  padding-top: 40px;
  padding-right:25px;
  align-items: center;

}
.nav-links li a{
  display: block;
  margin-top:30px;

  }
  .logo{
    margin-left: 30px;
  }
}

/*     NAVBAR    */
/*darkmode*/


body.dark .cover{
    background:  url(../img/photo8.jpg);
     background-position:center;
    background-size: cover;
    color: #fff;
    padding: 200px 20%;
}
body.dark .main h1 {
 border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    color: white;
}
body.dark .here{
    color: #777;
}

body.dark hr{
    background-color: white;
}


body.dark .card-header{
     background-color:#777;
}
body.dark .card-body{
     background-color: #777;
}

body.dark .text-center{
    border: none;
}
body.dark .card{
    border: none;
}
body.dark .card-body{
    color: white;
}
body.dark .card-header{
    color: white;
}

body.dark .content{
 background-color: #777; 
}


body.dark .gallery .image{
  filter: grayscale(100);
}
body.dark .gallery .image:hover{
  filter: grayscale(0);
}
body.dark #myVideo{
  filter: grayscale(100);
}
body.dark #myVideo:hover{
  filter: grayscale(0);
}

body.dark #myBtn{
  color: #000;
  background-color: white;
}
body.dark #myBtn:hover{
  background-color: #242620;
  color:#fff;
}
body.dark .suret{
  filter: grayscale(100);
}
body.dark .suret:hover{
  filter: grayscale(0);
}

/* COVER */

.cover {
 background: url(../img/photo8.jpg);
    background-position:center;
    background-size: cover;
    color: #fff;
    padding: 200px 20%;
}

.cover-dimmer {
   background: rgba(0,0,0,0.2);
    padding: 40px;
    text-align: center;
  

}

h1 {
    font-size: 3.5rem;
    margin-top: -8px;
    margin-bottom: .25rem;
}

/*Gride image 16*/

.main{
    position: relative;
    height: 100%;
    width: 100%;
}

.main h1{
    position: relative;
    height: auto;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    margin: 5% 0 2% 0;
    text-align: center;
    font-size: 2.8em;
    font-weight: 650;
    letter-spacing: 1.5px;
    color: #242620;
    border-left: 5px solid #242620;
    border-right: 5px solid #242620;
    background: rgba(0,0,0,0.04);
}

.main p{
     position: relative;
    height: auto;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #777
}

.main .gallery{
position: relative;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto auto  auto;
    grid-gap: 2vh; 
    grid-auto-flow: dense;
}

.main .gallery .image{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9);
    border-radius: 2px;
}

.main .gallery .image:first-child{
    grid-column-start: span 2;
    grid-row-start:  span 2;
}


.main .gallery .image:nth-child(7){
     grid-column-start: span 2;
    grid-row-start:  span 2;
}


.main .gallery .image:nth-child(13){
     grid-column-start: span 2;
    grid-row-start:  span 2;
}
.main .gallery .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5) grayscale(100);
 transition: 0.3s ease-in-out;
}
.main .gallery .image:hover {
     filter: brightness(1) grayscale(0)
}


/*VIDEO */
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
max-width:900px;
display: block;
margin-left: auto;
margin-right: auto;
filter: brightness(0.5) grayscale(100);
padding-top: 2rem;
width: 100%;
height: auto;
}
#myVideo:hover {
  filter: brightness(1) grayscale(0)

}

/* Add some content at the bottom of the video/page */
.content {
  bottom: 0; 
  background:#242620;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  height: 1rem;
  padding-bottom: 9rem;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}


/* GRID */
.container-fluid {
    color: #fff;
    background-color:   #242620;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.8rem;
}

  /* CARD*/
  .suret{
    filter: brightness(0.5) grayscale(100);
  }
  .suret:hover{
    filter: brightness(1) grayscale(0)
  }
    .mood {
    display: flex;
    text-align: center;
justify-content: center;
    }

.alert{
    color: #fff;
    background-color: #242620;
}

.pagin{
color: #242620;
}



/* FOOTER */
.social img:hover {
 background: #52339a;
 border-radius: 50%;
}
.footer {
 padding-top: 20px;
 height: 15rem;
}
.cn{
 display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #1A1919;
 }
 .footer p{
 font-weight: 400;
 font-size: 16px;
 color: #fff;
 font-family: Roboto;
 }
 .footer-logo{
 display: block;
 margin-right: auto;
 margin-left: auto;
 }
 .footer-elements{
 margin: 0 5px;
 font-size: 21px;
  
 }
 .footer-elements:hover{
 opacity: .50;
 
 }
 .footer a{
 color: #fff;
 }
 .footer-bottom{
 padding-top: 55px;
 text-transform: capitalize;
 }
.foto{
    display: flex;
    margin-left: 4rem;
}
@media (max-width:720px){
 
.mood{
  display: block;
  margin-left: 50px;
}
.card{
  margin-top: 50px;
}
.main h1{
  border: none;
  width: 200px;
  background:none;
}
}


